body {
	font-family: 'Hind', sans-serif;
	font-size: 14px;
	background-color: #337AB7;
}

.navbar {
	margin-bottom: 10px;
}

#page-wrapper {
	zoom: 0.96; 
	width: 100%;
    background-color: #fdfdfd;
    margin: 0 auto;
    position: absolute;
    min-height: 83%;
    
    font-size-adjust: 0.47;
	-ms-zoom: 1;
	-webkit-zoom: 0.96;
}

.footer_cra {
	background-color: #337AB7;
	color: #fff;
	font-weight: bolder;
	bottom: 2%;
	text-align: center;
	float: inherit;
	margin-top: 1%;
}

.navbar-nav {
	font-size: 14.5px;
}

.navbar-default .navbar-nav>li>a {
	color: #337AB7;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus,
	.navbar-default .navbar-nav>.active>a:hover {
	color: #337AB7;
}

.fa-4x {
	font-size: 4.2em;
}

legend {
	font-size: 15px !important;
}

.navbar-nav>li>.dropdown-menu {
	background-color: #F8F8F8;
}

.dropdown-menu>li>a {
	color: #337AB7;
}

#retornoLiberado {
	background-color: rgba(255, 235, 59, 0.74) !important;
}

.footer-cra {
	text-align: center;
	margin-top: 1%;
	margin-bottom: 1%;
}

.navbar-right {
	width: 205px;
}

.dataTables_filter {
	float: right;
}

.row {
	margin-right: 0px !important;
	margin-left: 0px !important;
}

.panel-body {
	background-color: #fdfdfd;
}

.col-10 {
	width: 10%;
	float: left;
}

.col-20 {
	width: 20%;
	float: left;
}

.col-30 {
	width: 30%;
	float: left;
}

.col-40 {
	width: 40%;
	float: left;
}

.col-70 {
	width: 70%;
	float: left;
}

.col-80 {
	width: 80%;
	float: left;
}

.table-responsive {
	/* min-height: .01%; */
	overflow-x: initial;
}

.link {
	color: #337AB7 !important;
	font-weight: bold;
}

.historico {
	width: 190px;
}

.cabecalho-painel {
	font-size: 16px;
	font-weight: bolder;
	font-family: Titillium Web;
}

.btn-primary {
	font-family: Titillium Web;
}

#table_filter {
	float: right !important;
}

#table_paginate {
	float: right !important;
}

.destaque {
	color: red;
	font-weight: bold;
	font-size: 15px;
}

.icon-home {
	font-size: 15px !important;
}

#ui-datepicker-div {
	zoom: 96%;
}

.glyphicon-folder-open {
	color: black !important;
}

.chat-body {
	font-size: 15px;
}

.checkbox-inline br {
	display: none !important;
}

.checkbox-inline label {
	margin-left: 25px !important;
	font-size: 14px;
}

.radio-inline label {
	margin-left: 25px !important;
	font-size: 14px;
}

.checkbox-inline input {
	margin-left: 10px !important;
}

.radio-inline input {
	margin-left: 10px !important;
}

.inline {
	font-size: 16px;
	margin-left: -25px;
}

.inline br {
	display: none !important;
}

.inline input {
	margin-left: 10px !important;
}

.download-ico {
	width: 23px;
}

.titulo-top {
	text-align: left;
	font-size: 22px;
	font-family: 'Titillium Web', sans-serif;
}

.col-center {
	text-align: center;
}

.col-left {
	text-align: left;
}

.col-right {
	text-align: right;
}

.valor {
	font-weight: bold;
	font-size: 13px;
}

.feedbackPanel {
	margin-top: 10px;
	margin-left: -40px;
	font-size: 16px;
	margin-bottom: -5px;
}

.feedbackPanelWARNING {
	color: #8A6D3B;
	    font-size: 18px;
	background-color: #FCF8E3;
	border-color: #FAEBCC;
	padding: 15px;
	border: 1px solid transparent;
	border-radius: 4px;
	list-style: none;
	margin-bottom: 5px;
}

.feedbackPanelINFO {
	color: #3c763d;
	    font-size: 18px;
	background-color: #dff0d8;
	border-color: #d6e9c6;
	padding: 15px;
	border: 1px solid transparent;
	border-radius: 4px;
	list-style: none;
	margin-bottom: 5px;
}

.feedbackPanelERROR {
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
	    font-size: 18px;
	padding: 15px;
	border: 1px solid transparent;
	border-radius: 4px;
	list-style: none;
	margin-bottom: 5px;
}

#Aguardando {
	color: #FFF;
	background: #209515 none repeat scroll 0% 0%;
	font-weight: bold;
	padding: 3px;
	font-size: 10px;
	width: 100%;
}

#Baixado {
	background: #4480B3 none repeat scroll 0% 0%;
	color: #FFF;
	font-weight: bold;
	padding: 3px;
	font-size: 10px;
	width: 100%;
}

#Enviado {
	background: #B33B3B none repeat scroll 0% 0%;
	color: #FFF;
	font-weight: bold;
	padding: 3px;
	font-size: 10px;
	width: 100%;
}

.info-titulo {
	background: #6D95B7 none repeat scroll 0% 0%;
	color: #FFF;
	font-weight: bold;
	padding: 3px;
	font-size: 10px;
	width: 100%;
}

/*
COMUNICADO MODAL
**/
.comunicado {
	background-color: #FFFFFF;
}

.modal-body {
	padding: 0px !important;
}

div.wicket-modal div.w_content_3 {
	border: 0px solid #FFFFFF;
}

.dt-bootstrap {
	margin: 0px -10px;
}

/**/
span.tooltips {
	position: relative;
	display: inline;
}

span.tooltips span {
	position: absolute;
	color: #FFFFFF;
	background: #000;
	font-size: 15px;
	text-align: center;
	visibility: hidden;
	border-radius: 6px;
	min-width: 200px;
	padding: 5px 3px;
}

span.tooltips span:after {
	content: '';
	position: absolute;
	bottom: 100%;
	left: 50%;
	margin-left: -8px;
	width: 0;
	height: 0;
	border-bottom: 8px solid #000;
	border-right: 8px solid transparent;
	border-left: 8px solid transparent;
}

span:hover.tooltips span {
	visibility: visible;
	opacity: 0.8;
	top: 30px;
	left: 50%;
	margin-left: -76px;
	z-index: 999;
}