body {
	font-family: 'Open Sans', sans-serif;
	font-size: 13px; 
	background-color: #337ab7;
}

.clear {
	clear: both;
}

.container-layout {
	width: 100%;
	background-color: #fff;
	border-top: 10px solid #337AB7;
}

.container {
	width: 99%;
}

.footer-cra {
	background-color: #337AB7;
	width: 100%;
}

.text-footer {
	padding: 10px 0px;
	color: #F8F8F8;
}

.navbar {
	margin-bottom: 0px;
}

.navbar-nav {
	font-size: 13px;
}

.navbar-default .navbar-nav>li>a {
	color: #337AB7;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th,
	.table>thead>tr>td, .table>thead>tr>th {
	padding: 5px;
}

.navbar-brand {
	float: left;
	height: 50px;
	padding: 0px 0px;
	font-size: 18px;
	line-height: 20px;
}

.logo {
	width: 129px;
	height: 45px;
	margin: 0 10px;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus,
	.navbar-default .navbar-nav>.active>a:hover {
	color: #337AB7;
}

.fa-4x {
	font-size: 4.2em;
}

legend {
	font-size: 13px !important;
}

.navbar-nav>li>.dropdown-menu {
	background-color: #F8F8F8;
}

.dropdown-menu>li>a {
	color: #337AB7;
}

#retornoLiberado {
	background-color: rgba(255, 235, 59, 0.74) !important;
}
#retornoPendente10Dias{
	    background-color: rgba(217, 83, 79, 0.32) !important;
}
#taxaCraVigente{
	    background-color: rgba(92, 184, 92, 0.36) !important;
}
.dataTables_filter {
	float: right;
}

.panel-body {
	background-color: #F8F8F8;
}

.link-pendentes {
	font-size: 13px;
	color: #fff;
	font-weight: bolder;
}

.link-pendentes:hover {
	color: #fff;
}

.link-voltar {
	font-size: 14px;
	font-weight: bold;
}

.btn-pendentes {
	position: absolute;
	margin-top: -5px;
}

.col-10 {
	width: 10%;
	float: left;
}

.col-20 {
	width: 20%;
	float: left;
}

.col-30 {
	width: 34%;
    float: left;
    margin-left: 10px;
}

.col-40 {
	width: 40%;
	float: left;
}

.col-70 {
	width: 65%;
	float: left;
}

.col-80 {
	width: 80%;
	float: left;
}

dd, dt {
	line-height: 1.55;
}

.table-responsive {
	/* min-height: .01%; */
	overflow-x: initial;
}

.link {
	color: #337AB7 !important;
	font-weight: bold;
}

.panel-history {
	padding-left: 0px;
	padding-right: 0px;
}

.historico {
	width: 190px;
}

.cabecalho-painel {
	font-size: 14px;
	font-weight: bolder;
}

#table_filter {
	float: right !important;
}

#table_paginate {
	float: right !important;
}

.destaque {
	color: red;
	font-weight: bold;
	font-size: 14px;
}

.icon-home {
	font-size: 15px !important;
}

.glyphicon-folder-open {
	color: black !important;
}

.chat-body {
	font-size: 13px;
}

.checkbox-inline br {
	display: none !important;
}

.checkbox-inline label {
	margin-left: 25px !important;
	font-size: 14px;
}

.radio-inline label {
	margin-left: 25px !important;
	font-size: 13.5px;
}

.checkbox-inline input {
	margin-left: 10px !important;
}

.radio-inline input {
	margin-left: 10px !important;
}

.inline {
	font-size: 14px;
	margin-left: -25px;
}

.inline br {
	display: none !important;
}

.inline input {
	margin-left: 10px !important;
}

.download-ico {
	width: 21px;
}

.titulo-top {
	text-align: left;
	font-size: 16px;
}

.col-center {
	text-align: center;
}

.col-left {
	text-align: left;
}

.col-right {
	text-align: right;
}

.valor {
	font-weight: bold;
	font-size: 13px;
}

.feedbackPanel {
	margin-left: -40px;
	margin-top: 5px;
}

.feedbackPanel>li { 
	list-style: none;
}

.alert {
    margin-bottom: 0px;
    padding: 10px 10px;
}

.alert>span {
	border-color: transparent;
	font-size: 14px; 
}

#Aguardando {
	color: #FFF;
	background: #209515 none repeat scroll 0% 0%;
	font-weight: bold;
	padding: 3px;
	font-size: 10px;
	width: 100%;
}

#Recebido {
	background: #4480B3 none repeat scroll 0% 0%;
	color: #FFF;
	font-weight: bold;
	padding: 3px;
	font-size: 10px;
	width: 100%;
}

#Enviado {
	background: #B33B3B none repeat scroll 0% 0%;
	color: #FFF;
	font-weight: bold;
	padding: 3px;
	font-size: 10px;
	width: 100%;
}

.info-titulo {
	background: #6D95B7 none repeat scroll 0% 0%;
	color: #FFF;
	font-weight: bold;
	padding: 3px;
	font-size: 10px;
	width: 100%;
}

#info-titulo {
	background: #6D95B7 none repeat scroll 0% 0%;
	color: #FFF;
	font-weight: bold;
	padding: 3px;
	font-size: 10px;
	width: 100%;
}

#ocorrencia-erro {
	background: #B33B3B none repeat scroll 0% 0%;
	color: #FFF;
	font-weight: bold;
	padding: 3px;
	font-size: 10px;
}

#ocorrencia-sucesso {
	color: #FFF;
	background: #209515 none repeat scroll 0% 0%;
	font-weight: bold;
	padding: 3px;
	font-size: 10px;
}

#ocorrencia-alerta {
	color: #FFF;
	background: #f0ad4e none repeat scroll 0% 0%;
	font-weight: bold;
	padding: 3px;
	font-size: 10px;
}

.media-body {
	font-size: 14px;
}

.first, .prev, .goto, .next, .last {
	color: #333;
	background-color: #fff;
	border-color: #ccc; 
}

.first, .prev, .goto, .next, .last {
	color: #337AB7;
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
}

.first, .last {
	display: none;
}

.prev:hover, .goto:hover, .next:hover {
	background-color: #F0F0F0;
}
/*
COMUNICADO MODAL
**/
.comunicado {
	background-color: #FFFFFF;
}

.modal-body {
	padding: 0px !important;
}

div.wicket-modal div.w_content_3 {
	border: 0px solid #FFFFFF;
}

.dt-bootstrap {
	margin: 0px 0px;
}

/**/
span.tooltips {
	position: relative;
	display: inline;
}

span.tooltips span {
	position: absolute;
	color: #FFFFFF;
	background: #000;
	font-size: 14px;
	text-align: center;
	visibility: hidden;
	border-radius: 6px;
	min-width: 200px;
	padding: 5px 3px;
}

span.tooltips span:after {
	content: '';
	position: absolute;
	bottom: 100%;
	left: 50%;
	margin-left: -8px;
	width: 0;
	height: 0;
	border-bottom: 8px solid #000;
	border-right: 8px solid transparent;
	border-left: 8px solid transparent;
}

span:hover.tooltips span {
	visibility: visible;
	opacity: 0.8;
	top: 30px;
	left: 50%;
	margin-left: -76px;
	z-index: 999;
}

/**
Exporter csv
*/
.export-td>span>a {
	font-weight: 700;
	font-size: 15px;
}

.col-action {
	width: 80px;
}

.excel-icon {
	background-color: #eee;
	color: #3c763d;
	font-size: 1.3em;
}

.pdf-icon {
	background-color: #eee;
	color: #A94442;
	font-size: 1.3em;
}

.pagination {
	float: right !important;
}

.norecords-td {
	display: none;
}
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-default, .bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-default{
	color: #f5f5f5;
    background: #d9534f;
}
.extrato{
	font-size: 11.5px;
	font-weight: bold;
}

.menu-acoes{ 
	margin-top: 5px;	
	margin-bottom: 5px;	
}

.dropdown-menu{
    font-size: 13px; 
}

/**
DROPDROWN SUBMENU
*/

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
	background-color : #f8f8f8;
    top: 0; 
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

/**
	TIME LINE
*/
.text-historico{
	font-size: 14px;
}

.timeline-centered {
    position: relative; 
    margin-bottom: 30px;
}

    .timeline-centered:before, .timeline-centered:after {
        content: " ";
        display: table;
    }

    .timeline-centered:after {
        clear: both;
    }

    .timeline-centered:before, .timeline-centered:after {
        content: " ";
        display: table;
    }

    .timeline-centered:after {
        clear: both;
    }

    .timeline-centered:before {
        content: '';
        position: absolute;
        display: block;
        width: 4px;
        background: #f5f5f6;
        /*left: 50%;*/
        top: 20px;
        bottom: 20px;
        margin-left: 30px;
    }

    .timeline-centered .timeline-entry {
        position: relative;
        /*width: 50%;
        float: right;*/
        margin-top: 5px;
        margin-left: 30px;
        margin-bottom: 10px;
        clear: both;
    }

        .timeline-centered .timeline-entry:before, .timeline-centered .timeline-entry:after {
            content: " ";
            display: table;
        }

        .timeline-centered .timeline-entry:after {
            clear: both;
        }

        .timeline-centered .timeline-entry:before, .timeline-centered .timeline-entry:after {
            content: " ";
            display: table;
        }

        .timeline-centered .timeline-entry:after {
            clear: both;
        }

        .timeline-centered .timeline-entry.begin {
            margin-bottom: 0;
        }

        .timeline-centered .timeline-entry.left-aligned {
            float: left;
        }

            .timeline-centered .timeline-entry.left-aligned .timeline-entry-inner {
                margin-left: 0;
                margin-right: -18px;
            }

                .timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-time {
                    left: auto;
                    right: -100px;
                    text-align: left;
                }

                .timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-icon {
                    float: right;
                }

                .timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-label {
                    margin-left: 0;
                    margin-right: 70px;
                }

                    .timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-label:after {
                        left: auto;
                        right: 0;
                        margin-left: 0;
                        margin-right: -9px;
                        -moz-transform: rotate(180deg);
                        -o-transform: rotate(180deg);
                        -webkit-transform: rotate(180deg);
                        -ms-transform: rotate(180deg);
                        transform: rotate(180deg);
                    }

        .timeline-centered .timeline-entry .timeline-entry-inner {
            position: relative;
            margin-left: -20px;
        }

            .timeline-centered .timeline-entry .timeline-entry-inner:before, .timeline-centered .timeline-entry .timeline-entry-inner:after {
                content: " ";
                display: table;
            }

            .timeline-centered .timeline-entry .timeline-entry-inner:after {
                clear: both;
            }

            .timeline-centered .timeline-entry .timeline-entry-inner:before, .timeline-centered .timeline-entry .timeline-entry-inner:after {
                content: " ";
                display: table;
            }

            .timeline-centered .timeline-entry .timeline-entry-inner:after {
                clear: both;
            }

            .timeline-centered .timeline-entry .timeline-entry-inner .timeline-time {
                position: absolute;
                left: -100px;
                text-align: right;
                padding: 10px;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
            }

                .timeline-centered .timeline-entry .timeline-entry-inner .timeline-time > span {
                    display: block;
                }

                    .timeline-centered .timeline-entry .timeline-entry-inner .timeline-time > span:first-child {
                        font-size: 15px;
                        font-weight: bold;
                    }

                    .timeline-centered .timeline-entry .timeline-entry-inner .timeline-time > span:last-child {
                        font-size: 12px;
                    }

            .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon {
                background: #fff;
                color: #737881;
                display: block;
                width: 40px;
                height: 40px;
                -webkit-background-clip: padding-box;
                -moz-background-clip: padding;
                background-clip: padding-box;
                -webkit-border-radius: 20px;
                -moz-border-radius: 20px;
                border-radius: 20px;
                text-align: center;
                -moz-box-shadow: 0 0 0 5px #f5f5f6;
                -webkit-box-shadow: 0 0 0 5px #f5f5f6;
                box-shadow: 0 0 0 5px #f5f5f6;
                line-height: 40px;
                font-size: 15px;
                float: left;
            }

                .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-primary {
                    background-color: #31708f;
                    color: #fff; 
                }

                .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-secondary {
                    background-color: #ee4749;
                    color: #fff;
                }

                .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-success {
                    background-color: #00a651;
                    color: #fff;
                }

                .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-info {
                    background-color: #21a9e1;
                    color: #fff;
                }

                .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-warning {
                    background-color: #fad839;
                    color: #fff;
                }

                .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-danger {
                    background-color: #cc2424;
                    color: #fff;
                }

            .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label {
                position: relative;
                background: #f5f5f6;
                padding: 5px 5px;
                margin-left: 50px;
                -webkit-background-clip: padding-box;
                -moz-background-clip: padding;
                background-clip: padding-box;
                -webkit-border-radius: 3px;
                -moz-border-radius: 3px;
                border-radius: 3px;
            }

                .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label:after {
                    content: '';
                    display: block;
                    position: absolute;
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 9px 9px 9px 0;
                    border-color: transparent #f5f5f6 transparent transparent;
                    left: 0;
                    top: 10px;
                    margin-left: -9px;
                }

                .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2, .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label p {
                    color: #737881;
                    font-family: "Noto Sans",sans-serif;
                    font-size: 12px;
                    margin: 0;
                    line-height: 1.428571429;
                }

                    .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label p + p {
                        margin-top: 15px;
                    }

                .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2 {
                    font-size: 16px;
                    margin-bottom: 10px;
                }

                    .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2 a {
                        color: #303641;
                    }

                    .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2 span {
                        -webkit-opacity: .6;
                        -moz-opacity: .6;
                        opacity: .6;
                        -ms-filter: alpha(opacity=60);
                        filter: alpha(opacity=60);
                    }