body {
    font-family: Lato,sans-serif;
    font-size: 13.3px;
    background-color: #337AB7;
}

.navbar{
	margin-bottom: 10px;
}
 
 .navbar-nav{
 	font-size: 14px;
 }
 
#page-wrapper{
	zoom: 0.95;
	width: 100%;
    background-color: #fdfdfd;
    margin: 0 auto;
    position: absolute;
    min-height: 83%;
}
.navbar-default .navbar-nav>li>a{
	color: #337AB7;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
	color: #337AB7;
}

.fa-4x {
    font-size: 4.6em;
}

.navbar-nav > li > .dropdown-menu{
	background-color: #F8F8F8;
}

.dropdown-menu > li > a{
	color: #337AB7;
}

.footer-cra{
	text-align: center;
    margin-top: 1%;
    margin-bottom: 1%;
}

.navbar-right{
    width: 205px;
}

.panel-body{
	background-color: #fdfdfd;
}

.col-10{
	width: 10%;
}

.col-20{
	width: 20%;
}

.col-30{
	width: 30%;
}

.col-40{
	width: 40%;
}

.col-80{
	width: 80%;
}

legend{
	font-size: 16px;
}

.link {
	color: #337AB7 !important;
	font-weight: bold;
}

.historico {
   width: 190px;
}

.cabecalho-painel{
	font-size: 16px;
	font-weight: bolder;
    font-family: Titillium Web;
}

#table_filter{
	float: right !important;
}

#table_paginate{
	float: right !important;
}

.mensagem-feed{ 
	font-size: 18px;
	font-family: Lato;
}

.destaque {
	color: red;
	font-weight: bold;
	font-size: 15px;
}

.icon-home {
	font-size: 14px !important;
}

#ui-datepicker-div{
	zoom: 95%;
}

.glyphicon-folder-open {
	color: black !important;
}

.chat-body{
	font-size: 15px;
}

.checkbox-inline br {
	display: none !important;
}

.checkbox-inline label {
	margin-left: 25px !important;
	font-size: 14px;
}

.radio-inline label {
	margin-left: 25px !important;
	font-size: 14px;
}

.checkbox-inline input {
	margin-left: 10px !important;
}

.radio-inline input {
	margin-left: 10px !important;
}

.inline {
	font-size: 16px;
	margin-left: -25px;
}

.inline br {
	display: none !important;
}

.inline input {
	margin-left: 10px !important;
}

.download-ico {
	width: 25px;
}

.titulo-top {
    text-align: left;
    font-size: 22px;
    font-family: 'Titillium Web', sans-serif;
}

.col-center{
	text-align: center;
}
.col-left{
	text-align: left;
}
.col-right{
	text-align: right;
}
.valor{
	font-weight: bold;
	font-size: 13px;
}

.feedbackPanel{
    margin-top: 10px;
    margin-left: -40px;
   	font-size: 16px;
}

.feedbackPanelWARNING {
	color: #8A6D3B;
	font-weight: bold;
	background-color: #FCF8E3;
	border-color: #FAEBCC;
	padding: 15px;
	border: 1px solid transparent;
	border-radius: 4px;
	list-style: none;
    margin-bottom: 5px;
}

.feedbackPanelINFO {
    color: #3c763d;
    font-weight: bold;
    background-color: #dff0d8;
    border-color: #d6e9c6;
	padding: 15px;
	border: 1px solid transparent;
	border-radius: 4px;
	list-style: none;
   	margin-bottom: 5px;
}

.feedbackPanelERROR{
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    font-weight: bold;
    padding: 15px;
    border: 1px solid transparent;
    border-radius: 4px;
    list-style: none;
    margin-bottom: 5px;
}

#Aguardando{
	color: #FFF;
	background: #209515 none repeat scroll 0% 0%;
    font-weight: bold;
    padding: 3px;
    font-size: 10px;
    width: 100%;
}
#Baixado{
    background: #4480B3 none repeat scroll 0% 0%;
    color: #FFF;
    font-weight: bold;
    padding: 3px;
    font-size: 10px;
    width: 100%;
}
#Enviado{
    background: #B33B3B none repeat scroll 0% 0%;
    color: #FFF;
    font-weight: bold;
    padding: 3px;
    font-size: 10px;
    width: 100%;
}

.info-titulo{
	background: #6D95B7 none repeat scroll 0% 0%;
    color: #FFF;
    font-weight: bold;
    padding: 3px;
    font-size: 10px;
    width: 100%;
}
