<wicket:panel xmlns:wicket="http://wicket.apache.org/" lang="pt-BR" charset="UTF8">
<div class="row">
	<div class="col-md-12">  
		  <div class="col-md-1"><label>Empresa:</label></div>   
		  <div class="col-md-5 ">
		  		<select class="form-control input-sm"  wicket:id="empresa" ></select>
		  </div>
		  <div class="col-md-2 right">
		  	<label class="pull-right">Tipo de Arquivo:</label> 
		  </div>
		  <div class="col-md-3 ">
		  		<select class="form-control input-sm"  wicket:id="tipoArquivo" ></select>
		  </div>
	</div>
</div>
<br/>
<div class="row" wicket:id="divCampo">
		<div class="col-md-12">
			<div class="col-md-4"><label>Descrição</label></div>
			<div class="col-md-3"><label>Campo do Layout</label></div>
			<div class="col-md-1"><label>Ordem</label></div>
			<div class="col-md-1"><label>Posição Inicial</label></div>
			<div class="col-md-1"><label>Posição Final</label></div>
		</div>
		<div class="col-md-12">
			<div class="col-md-4">
			    <input class="form-control input-md" wicket:id="descricaoCampo">
			</div>
			<div class="col-md-3">
			    <select class="form-control input-sm" wicket:id="campo"></select>
			</div>
			<div class="col-md-1">
			    <input class="form-control input-md" wicket:id="ordem">
			</div>
			<div class="col-md-1">
			    <input class="form-control input-md" wicket:id="posicaoInicio">
			</div>
			<div class="col-md-1">
			    <input class="form-control input-md" wicket:id="posicaoFim">
			</div>
			<div class="col-md-1">
			    <button  class="btn btn-primary" wicket:id="add" ><span class="fa fa-plus-o"></span>add</button>
			</div>
		</div>
</div>
<div class="row">&nbsp;</div>
<fieldset>
	<legend>Resultado</legend>
	<div class="row" wicket:id="divResultado">
		<div class="col-md-12">
			<table id="table-layout"  class="table table-responsive table-striped table-hover dataTable no-footer">
				<thead>
					<tr>
						<th>Descrição</th>
						<th>Campo do Layout</th>
						<th>Ordem</th>
						<th>Posição inicial</th>
						<th>Posição Final</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr wicket:id="tabelaLayout">
						<td wicket:id="descricao"></td>
						<td wicket:id="campo"></td>
						<td wicket:id="ordem"></td>
						<td wicket:id="posicaoInicio"></td>
						<td wicket:id="posicaoFim"></td>
						<td class="col-center"><button wicket:id="remover"><span class="fa fa-trash-o"></span></button></td>
					</tr>
				</tbody>
			</table> 
		</div>
	</div>
</fieldset>
</wicket:panel>